@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html{
    scroll-behavior: smooth
}
body{
    background-color: #eee;
    margin: 0px;
    padding: 0px;
   
}
/*-----------------------gotopbutton------------------- */
#back-top-btn{
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: transparent;
    border-style: unset;
    color: #000;
    border: 2px #000 solid;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: all .3s ease;
    font-size: 30px;
    cursor: pointer;
}
#back-top-btn:hover{
    background-color: #333;
    color: #fff;
}
/*-----------------------gotopbutton------------------- */
/*  ---------------------------Nav ---------------------*/
nav ul{
    list-style: none;
}

section{
    width: 100%;
    background-size: cover;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding: 0px 5%;
    
}

nav ul{
    display: flex;
}

nav ul li a{
    margin: 30px;
    color: #505050;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 50% 0 50% 0;
    transition: 0.5s;
}

ul li a:hover{
    background-color: #F04903;
    color: #fff;
    text-transform: uppercase;
  
}

/*  ----------Nav -----------------------*/

/*-----------landing-text--------------*/
.landing-text {
    position: relative;
    width: 100%;
    height: 110vh;
    background:linear-gradient(45deg,#8614ce,#ff0057);
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-text::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: #eee;
    clip-path: polygon(100% 0,0 100%,100% 100%);
}
.contenc{
    position: relative;
    max-width: 900px;
    text-align: center;
}
.contenc h2{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 8em;
}
.contenc p{
    color: #fff;
    font-size: 2em;
    font-family: 'DM Serif Text', serif;

}
/*-----------landing-text--------------*/
/*-----------landing-text-animation--------------*/
.line{
    position: relative;
    top: 50%;
    width: 5em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}
.anim-typewriter{
    animation: typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}
@keyframes typewriter{
    from{
        width: 0;
    }
    to{
        width: 7.7em;
    }
}
@keyframes blinkTextCursor{
    from{
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to{
        border-right-color: transparent;
    }
}

/*-----------landing-text-animation--------------*/


/*------------------ Global Button setting ---------*/

button:active{
    transform: scale(1.1);
}
/*-------------------------- Global Button setting *-----------------------------*/

/*---------------------- Meet me *--------------------*/
.about-container{
    width: 80%;
    height: 330px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    margin: -7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}
.about-container img{
    height: 360px;
      
}
.about-text{
    width: 550px;
}
.about-text h1{
    font-family: 'Playfair Display', serif;
}
.about-text p{
    font-family: 'Source Sans Pro', sans-serif;
}

.about-text button{
    width: 120px;
    height: 60px;
    color: #FFFFFF;
    outline: none;
    border: none;
    font-family: calibri;
    background-color: #262525;
}
/*--------------- Meet me *---------------------*/
/*-------------Experience-title ----------------------*/
.experience-title{
    padding-top: 50px;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 60px;
}
/*------------------Experience-title ------------*/
/*----------------------Experience-image  -----------------*/
.contenx{
    width: 100%;
    display: grid;
    grid-auto-flow: dense;
    grid-template: "1fr 1fr 1fr 1fr 1fr" 33.33vh
                   "1fr 1fr 1fr 1fr 1fr" 33.33vh
                   "1fr 1fr 1fr 1fr 1fr" 33.33vh;
    
}
.contenx .boy{
    position: relative;
    background: #ccc;
}
.contenx .boy img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contenx .boy.a{
    grid-row: span 2;
}
.contenx .boy.b,
.contenx .boy.f,
.contenx .boy.h,
.contenx .boy.j{
    grid-column: span 2;
}

@media (max-width: 1000px){
    .contenx{
        
        grid-template: "1fr 1fr 1fr " 250px
                       "1fr 1fr 1fr " 250px
                       "1fr 1fr 1fr " 250px
                       "1fr 1fr 1fr " 250px
                       "1fr 1fr 1fr " 250px;
        
    }
}

@media (max-width: 768px){
    .contenx{
        
        grid-template: "1fr 1fr 1fr " 200px
                       "1fr 1fr 1fr " 200px
                       "1fr 1fr 1fr " 200px
                       "1fr 1fr 1fr " 200px
                       "1fr 1fr 1fr " 200px
                       "1fr 1fr 1fr " 200px
                       "1fr 1fr 1fr " 200px;
        
    }
    .contenx .box.h{
        grid-column: span 1;
    }
}

/*-------------Experience -image ---------------*/
/*---------------Experience -timeline --------------*/
.timeline{
    position: relative;
    margin: 50px auto;
    padding: 40px 0;
    width: 1000px;
}
.timeline::before{
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
}
.timeline ul{
    margin: 0;
    padding: 0;
}
.timeline ul li{
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}
.timeline ul li:nth-child(odd){
    float: left;
    text-align: right;
    clear: both;
}
.timeline ul li:nth-child(even){
    float: right;
    text-align: left;
    clear: both;
}
.content{
    padding-bottom: 20px;
}
.content h3{
    font-family: 'Open Sans Condensed', sans-serif;
}
.content p{
    font-family: 'Open Sans', sans-serif;
}
.time h4{
    font-family: 'Open Sans Condensed', sans-serif;
}
.timeline ul li:nth-child(odd)::before{
    content: '';
    position: absolute;
    top: 24px;
    right: -6px;
    width: 10px;
    height: 10px;
    background: rgba(233, 33, 99, 1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}
.timeline ul li:nth-child(even)::before{
    content: '';
    position: absolute;
    top: 24px;
    left: -4px;
    width: 10px;
    height: 10px;
    background: rgba(233, 33, 99, 1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}
.timeline ul li h3{
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: rgba(233, 33, 99, 1);
}
.timeline ul li p{
    margin: 10px 0 0;
    padding: 0;
}
@media (max-width:1000px){
    .timeline{
        width: 100%;
    }
}

@media (max-width: 767px){

    .timeline{
        width: 100%;
    }
    .timeline::before{
        left: 20px;
    }
    .timeline ul li:nth-child(odd),
    .timeline ul li:nth-child(even){
        width: 100%;
        text-align: left;
        padding-left:50px;
        padding-bottom: 50px;
    }
    .timeline ul li:nth-child(odd):before,
    .timeline ul li:nth-child(even):before{
        top: -18px;
        left: 16px;
    }
    .timeline ul li:nth-child(odd) .time,
    .timeline ul li:nth-child(even) .time{
        top: -30px;
        left: 50px;
        right: inherit;
    }
}

/*-----------------Experience -timeline ----------*/

/*-----------------Interest-video---------------*/
.contenb{
    font-family: 'Permanent Marker', cursive;
    z-index: 10;
}

.contenb h1{
    font-weight: 300;
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 15px;
    text-align: center;
}

.contenb h3{
    font-weight: 300;
    line-height: 1.2;
    text-align: right;
   
}

.showcase{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    color: #fff;
}
.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.video-container video{
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.video-container::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
@media (max-width:767px){
    .showcase{
        display: none;
    }
}

/*--------------Testimonials -------------*/
.test-body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    box-sizing: border-box;
    
}

.container-test{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}

.container-test .box-test{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 420px;
    margin: 20px;
    background: #121e27;
}

.container-test .box-test .content-test{
    padding: 30px;
    text-align: center;
}

.container-test .box-test .content-test .quote{
    max-width: 48px;
}

.container-test .box-test .content-test p{
    color: #fff;
    padding: 20px 0;
    font-family: 'Poppins', sans-serif;
}

.container_test .box_test .content_test .user{
    max-width: 72px;
    border-radius: 50%;
}

.container-test .box-test .content-test h3{
    color: #33d1a0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.container-test .box-test .content-test h4{
    color: #33d1a0;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
@media (max-width: 1050px){
    .container-test{
        
        justify-content: center;
    }
}

@media (max-width: 768px){
    .container-test{
        width: 100%;
        height: auto;
        padding: 30px 20px;
        align-items: center;
    }
}

/*---------Testimonials -------------*/

/*-----------Contact-title----*/
.contact-title{
    text-align: center;
    font-family: 'Caveat Brush', cursive;
    font-size: 60px;
}

/*-------------Contact-title----*/

/*--------------Contact-info -------------*/
.contact-info-title{
    background: linear-gradient(-45deg, #EE7752,#E73C7E , #23A6D5 , #23D5AB);
    text-align: center;
    font-family: 'Caveat Brush', cursive;
    font-size: 50px;
    border-radius: 100px;
    
}

.contact-info-body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    
}
.contact-info-body h1{
    text-align: center;
}

.contact-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.contact-info .contact-box3{
    position: relative;
    width: 350px;
    padding: 50px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    border-radius: 4px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}
.contact-info .contact-box3::before{
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .2);
    z-index: 2;
    pointer-events: none;
}
.contact-info .contact-box3 .icon1{
    position: relative;
    width: 80px;
    height: 80px;
    color: #fff;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    transition: 1s;
}

.contact-info .contact-box3:nth-child(1) .icon1{
    box-shadow: 0 0 0 0 #e91e63;
    background: #e91e63;
}
.contact-info .contact-box3:nth-child(1):hover .icon1{
    box-shadow: 0 0 0 400px #e91e63;
}

.contact-info .contact-box3:nth-child(2) .icon1{
    box-shadow: 0 0 0 0 #23e629;
    background: #23e629;
}
.contact-info .contact-box3:nth-child(2):hover .icon1{
    box-shadow: 0 0 0 400px #23e629;
}

.contact-info .contact-box3:nth-child(3) .icon1{
    box-shadow: 0 0 0 0 #2196f3;
    background: #2196f3;
}
.contact-info .contact-box3:nth-child(3):hover .icon1{
    box-shadow: 0 0 0 400px #2196f3;
}

.contact-info .contact-box3 .contenc1{
    position: relative;
    z-index: 1;
    transition: 0.5s;
}
.contact-info .contact-box3:hover .contenc1{
    color: #fff;

}
.contact-info .contact-box3 .contenc1 h3 h4{
    margin: 10px 0;
    padding: 0;
}
.contact-info .contact-box3 .contenc1 h3{
    font-size: 25px;
    font-family: 'Poiret One', cursive;
}
.contact-info .contact-box3 .contenc1 h4{
    font-size: 23px;
    font-family: 'Caveat Brush', cursive;
}

.contact-info .contact-box3 .contenc1 p{
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 20px;
}


/*--------------Contact-info -------------*/


/* ------------------footer --------------*/
.footer{
    height: 1em;
    padding: 2em;
    color: rgba(255, 255, 255, 0.75);
    background-color: rgb(25, 25, 25);
    text-align: center;
    font-size: 100% ;
    font-family: 'Playfair Display', serif;
}



/* -------------------footer----------------*/